@import '../../kit/style.scss';

.kit-button {
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $color-primary 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $color-primary 20%, transparent 30%),
    radial-gradient(circle, $color-primary 20%, transparent 20%), 
    radial-gradient(circle, $color-primary 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $color-primary 15%, transparent 20%),
    radial-gradient(circle, $color-primary 20%, transparent 20%),
    radial-gradient(circle, $color-primary 20%, transparent 20%),
    radial-gradient(circle, $color-primary 20%, transparent 20%),
    radial-gradient(circle, $color-primary 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $color-primary 20%, transparent 20%), 
    radial-gradient(circle, $color-primary 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $color-primary 15%, transparent 20%),
    radial-gradient(circle, $color-primary 20%, transparent 20%),
    radial-gradient(circle, $color-primary 20%, transparent 20%),
    radial-gradient(circle, $color-primary 20%, transparent 20%),
    radial-gradient(circle, $color-primary 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($color-primary, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }

  @keyframes topBubbles {
    0%{
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
      50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
  100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }

  @keyframes bottomBubbles {
    0%{
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
  100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }

  &.__ {
    background-color: $color-primary;
    color: white;
    border: none;

    &:hover, &:active {
      background-color: $color-primary-light;
    }
  }

  &.__outline {
    background-color: white;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover, &:active {
      background-color: $color-primary-light;
      color: white;
    }
  }

  &.__danger {
    background-color: #df3333;
    color: white;
    border: none;

    &:hover, &:active {
      background-color: #f84343;
    }
  }

  &.__disabled {
    background-color: $color-ripple-light;
    color: white;
    border: none;
    cursor: not-allowed;
  }

  &.__google {
    background-color: $color-bg-google;
    border: 1px solid $color-bg-google;

    &:hover, &:active {
      background-color: $color-bg-hover-google;
    }
  }

  &.__facebook {
    background-color: $color-bg-facebook;
    color: white;
    border: 1px solid $color-bg-facebook;

    &:hover, &:active {
      background-color: $color-bg-hover-facebook;
    }
  }

  &.__linkedin {
    background-color: $color-bg-linkedin;
    color: white;
    border: 1px solid $color-bg-linkedin;

    &:hover, &:active {
      background-color: $color-bg-hover-linkedin;
    }
  }

  &.__skype {
    background-color: $color-bg-skype;
    color: white;
    border: 1px solid $color-bg-skype;

    &:hover, &:active {
      background-color: $color-bg-hover-skype;
    }
  }

  &.__whatsapp {
    background-color: $color-bg-whatsapp;
    color: white;
    border: 1px solid $color-bg-whatsapp;

    &:hover, &:active {
      background-color: $color-bg-hover-whatsapp;
    }
  }

  &.__github {
    background-color: $color-bg-github;
    color: white;
    border: 1px solid $color-bg-github;

    &:hover, &:active {
      background-color: $color-bg-hover-github;
    }
  }

  &.__gitlab {
    background-color: $color-bg-gitlab;
    color: white;
    border: 1px solid $color-bg-gitlab;

    &:hover, &:active {
      background-color: $color-bg-hover-gitlab;
    }
  }

  &.__muted {
    background-color: $color-secondary-darker;
    color: white;
    border: 1px solid $color-secondary-darker;

    &:hover, &:active {
      background-color: $color-ripple-light;
    }
  }
}