@import './responsive.scss';

$color-primary: #17963e;
$color-primary-light: #51b06e;
$color-primary-ripple: #b4e1c1;
$color-secondary: #707070;
$color-secondary-ripple: #e2e2e2;
$color-secondary-darker: #676767;
$color-chez-text-border: #e5e5e5;
$color-secondary-light: #f8f8f8;
$color-thirty: #f0f0f0;
$color-ripple: #dfdfdf21;
$color-ripple-light: #919191;
$color-black: #000000;
$color-black-ripple: #0000000d;
$color-black-dark: #0000000b;
$color-black-light: #00000029;
$color-white: #ffffff;
$color-box-shadow: #10161a33;
$color-bg-google: #0000000a;
$color-bg-hover-google: #00000038;
$color-text-google: #707070;
$color-bg-facebook: #1e438a;
$color-bg-hover-facebook: #325595;
$color-bg-linkedin: #118dd8;
$color-bg-hover-linkedin: #00609b;
$color-bg-skype: #00aff0;
$color-bg-hover-skype: #00609b;
$color-bg-whatsapp: #25D366;
$color-bg-hover-whatsapp: #359e5c;
$color-bg-github: #171515;
$color-bg-hover-github: #484646;
$color-bg-gitlab: #FC6D27;
$color-bg-hover-gitlab: #E2432A;
$color-filled-ripple: #00000054;
$color-ripple-white: #dedede58;
$sidebar-bg: #f7f7f7;
$color-white-clair: #9f9f9f;
$color-danger: #dc4949;

$padding-card: 1.5rem;

$border-radius: 0.8rem;

$spinner: $color-primary;
$spinner-2: $color-black;
$background: white;
$size: 30px;
