@import '../../kit/style.scss';

.kit-input {
  display: flex;
  flex-direction: column;
  text-align: start;

  .kit-input__label {
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .kit-input__container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    .kit-input__container-icon {
      margin-bottom: -100%;
    }

    &.__error {
      border-bottom: 2px solid $color-danger;
    }

    &.__success {
      border-bottom: 2px solid $color-primary;
    }

    &.__ {
      border-bottom: 2px solid $color-secondary;
    }

    input {
      border: none;
      outline: none;
      width: 100%;
    }
  }
}